<app-admin-sidebar></app-admin-sidebar>

<div class="ml-72 p-10">
  <h1 class="text-3xl font-bold mb-6">Panel de Administración</h1>

  <div class="grid grid-cols-3 gap-6">
    <div class="p-6 bg-white rounded shadow">
      <h3 class="text-xl font-bold">Productos</h3>
      <p>Gestiona el catálogo</p>
    </div>

    <div class="p-6 bg-white rounded shadow">
      <h3 class="text-xl font-bold">Pedidos</h3>
      <p>Revisa el historial</p>
    </div>

    <div class="p-6 bg-white rounded shadow">
      <h3 class="text-xl font-bold">Usuarios</h3>
      <p>Administración de clientes</p>
    </div>
  </div>
</div>