<app-admin-sidebar></app-admin-sidebar>

<div class="ml-72 p-10">
  <h1 class="text-3xl font-bold mb-6">Usuarios</h1>

  <table class="w-full bg-white shadow rounded">
    <tr class="border-b">
      <th class="p-3">ID</th>
      <th class="p-3">Nombre</th>
      <th class="p-3">Email</th>
      <th class="p-3">Rol</th>
    </tr>

    <tr *ngFor="let u of users" class="border-b">
      <td class="p-3">{{ u.id }}</td>
      <td class="p-3">{{ u.name }}</td>
      <td class="p-3">{{ u.email }}</td>
      <td class="p-3">{{ u.role }}</td>
    </tr>
  </table>
</div>