<div class="max-w-7xl mx-auto p-6">
  <h1 class="text-3xl font-bold mb-4">Productos</h1>

  <!-- Barra de búsqueda -->
  <app-search-bar (searchEvent)="onSearch($event)"></app-search-bar>

  <!-- Lista de productos -->
  <div class="mt-6">
    <app-product-list [products]="paginated"></app-product-list>
  </div>

  <!-- Paginación -->
  <div
    *ngIf="totalPages > 1"
    class="flex justify-center items-center gap-4 mt-8">

    <button
      (click)="goToPage(currentPage - 1)"
      [disabled]="currentPage === 1"
      class="px-4 py-2 rounded-lg font-bold bg-gray-200 hover:bg-gray-300 disabled:opacity-50">
      ⬅ Anterior
    </button>

    <span class="font-semibold">
      Página {{ currentPage }} de {{ totalPages }}
    </span>

    <button
      (click)="goToPage(currentPage + 1)"
      [disabled]="currentPage === totalPages"
      class="px-4 py-2 rounded-lg font-bold bg-gray-200 hover:bg-gray-300 disabled:opacity-50">
      Siguiente ➡
    </button>

  </div>
</div>